#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex Solr Committer.
 
Norconex Solr Committer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex Solr Committer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Solr Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="lead">
<a href="download.html" class="btn btn-primary btn-large">Download ${currentStableVersion}</a> 
<br/><br/>

The <b>Solr Committer</b> library provides an implementation of 
<a href="http://www.norconex.com/product/committer">Norconex Committer</a>
targeting <a href="https://lucene.apache.org/solr/">Apache Solr</a>
or any search products using Solr at its core (such as 
<a href="http://www.lucidworks.com/">LucidWorks</a> search).
</p>

$h2 Installation

This Solr Committer is a library that you must include in another product 
classpath (along with committer dependencies). For use with a Norconex Collector
(like [Norconex HTTP Collector](http://www.norconex.com/product/collector-http)), 
follow these simple steps:

  * ([Download](./download.html)) the latest release of IDOL Committer

  * Unzip the downloaded file somewhere.

  * Copy the content of the `<committer_unzipped_folder>/lib` folder
    to `<collector_install_folder>/lib`.
    
  * If you notice different versions of the same library in the lib folder
    it is usually best advised to keep the most recent copy only.


$h2 Configuration


When used with a Norconex Collector, you can use the following XML to configure
the Solr Committer (LucidWorks specific instructions further down):

    <committer class="com.norconex.committer.solr.SolrCommitter">
      <solrURL>...</solrURL>
      <solrUpdateURLParams>
         <param name="(name)">(value)</param>
         ...
      </solrUpdateURLParams>
      <solrDeleteURLParams>
         <param name="(name)">(value)</param>
         ...
      </solrDeleteURLParams>
      <idSourceField keep="[false|true]">...</idSourceField>
      <idTargetField>...</idTargetField>
      <sourceContentField keep="[false|true]">...</sourceContentField>
      <targetContentField>...</targetContentField>
      <queueDir>...</queueDir>
      <queueSize>(queue size before committing)</queueSize>
      <commitBatchSize>...</commitBatchSize>
      <maxRetries>...</maxRetries>
      <maxRetryWait>...</maxRetryWait>
    </committer>

Tag descriptions:

| Tag                | Description   |
| ------------------ | ------------- |
| `solrURL` | URL to Solr (where to send documents for indexing). |
| `solrUpdateURLParams` | Optional Solr update URL arguments. |
| `solrDeleteURLParams` | Optional Solr delete URL arguments. |
| `idSourceField` | Name of source field that will be mapped to the Solr target id field. Default is the document reference the Committer stores as *committer.reference*. Once re-mapped, the metadata source field is deleted, unless *keep* is set to true.|
| `idTargetField` | Name of target id field. Default is *id*. |
| `sourceContentField` | Solr source field name for a document content/body. Default is not a field, but rather the document body content. Once re-mapped, the metadata source field is deleted, unless *keep* is set to true.|
| `targetContentField` | Solr target field name for a document content/body. Default is: content. |
| `queueDir` | Path where to queue files before sending them to Solr. Default is: ./committer-queue|
| `queueSize` | Number of documents or deletes to queue before sending to Solr. Default is: 1000.|
| `commitBatchSize` | Maximum number of documents to send Solr at once. Default is: 100.|
| `maxRetries` | Maximum number of retries upon commit failures. Default is: 0 (no retry).|
| `maxRetryWait` | Delay between retries. Default is: 0 (no delay).|

$h3 LucidWorks Additional Configuration

To make this committer work with LucidWorks, you have to define constant
values expected by LucidWorks.  When using a Norconex Collector or Importer,
you can define them as an importer parse handler like this:

    <tagger class="com.norconex.importer.tagger.impl.ConstantTagger">
      <constant name="data_source">927df3075b544785892c6b4c51625714</constant>
      <constant name="data_source_type">Web</constant>
      <constant name="data_source_name">Wikipedia</constant>
    </tagger>

In the committer settings, you also need to add the following configuration:

    <solrUpdateURLParams>
      <param name="fm.ds">927df3075b544785892c6b4c51625714</param>
    </solrUpdateURLParams>
    
For more details on Solr Committer integration Lucidworks, you can read the
article "[Using Norconex HTTP Collector with LucidWorks](http://www.norconex.com/using-norconex-http-collector-with-lucidworks/)".
